:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: "Noto Sans Thai", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --bg-e-store: #f8f8f7;
  --font-e-store: #333;
}

body {
  font-family: var(--font-family) !important;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #333;
  background-color: var(--bg-e-store) !important;
  height: 100vh;
}

html,
body.is-mobile {
  min-width: 345px !important;
  overflow-x: hidden !important;
}

body.is-tablet {
  /* min-width: 767px !important; */
}

body.is-desktop {
  min-width: 768px !important;
}

h5 {
  color: var(--font-e-store) !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

/* md ≥ 768px */
@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

/* lg ≥ 992px */
@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

/* xl ≥ 1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

/* xxl ≥ 1400px */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}


.line-clamp {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.scroll-x {
  /* display: flex; */
  /* gap: 1rem; */
  overflow-x: auto;
  /* เปิดเลื่อนเฉพาะแนวนอน */
  overflow-y: hidden;
  /* ไม่ให้เลื่อนแนวตั้ง */
  white-space: nowrap;
  /* padding: 1rem; */
  /* border: 1px solid #ccc; */
}

/* แต่ง scrollbar (เฉพาะ WebKit เช่น Chrome/Edge/Safari) */
.scroll-x::-webkit-scrollbar {
  height: 8px;
  /* ความสูง scrollbar */
}

.scroll-x::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.scroll-x::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scroll-x::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*-------------------------------------------
  Breadcrumb
-------------------------------------------*/

#breadcrumb-box {
  padding-top: 20px;
  width: 100%;
}

#breadcrumb-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  #breadcrumb-list {
    font-size: 1rem;
  }
}

#breadcrumb-list li {
  display: flex;
  align-items: center;
}

#breadcrumb-list li a {
  color: #f18b20;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  padding: 0.25rem;
  margin: -0.25rem;
  border-radius: 0.375rem;
  outline: none;
}

#breadcrumb-list li a:hover {
  color: #ff8300;
  /* text-decoration: underline; */
}

#breadcrumb-list li a:focus {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.75);
}

#breadcrumb-list li span.text-gray-500 {
  color: #6b7280;
  cursor: default;
  padding: 0.25rem;
  margin: -0.25rem;
  border-radius: 0.375rem;
}

#breadcrumb-list li span.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #9ca3af;
  font-weight: 600;
}

/*-------------------------------------------
  Tooltip
-------------------------------------------*/

.e-store-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.e-store-tooltip .e-store-tooltiptext {
  visibility: hidden;
  width: 108px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  font-size: 0.8rem;
}


.e-store-tooltip .e-store-tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}


.e-store-tooltip:hover .e-store-tooltiptext {
  visibility: visible;
  opacity: 1;
}


.e-store-tooltip.top .e-store-tooltiptext {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.e-store-tooltip.top .e-store-tooltiptext::after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-color: #555 transparent transparent transparent;
}

.e-store-tooltip.bottom .e-store-tooltiptext {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.e-store-tooltip.bottom .e-store-tooltiptext::after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent #555 transparent;
}

.e-store-tooltip.left .e-store-tooltiptext {
  top: 50%;
  right: 125%;
  transform: translateY(-50%);
}

.e-store-tooltip.left .e-store-tooltiptext::after {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-color: transparent transparent transparent #555;
}

.e-store-tooltip.right .e-store-tooltiptext {
  top: 50%;
  left: 125%;
  transform: translateY(-50%);
}

.e-store-tooltip.right .e-store-tooltiptext::after {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-color: transparent #555 transparent transparent;
}

/*-------------------------------------------
  Badges Status
-------------------------------------------*/

/* .btn {
  background-color: #2196F3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
} */

.store-card-dropdown {
  position: relative;
  display: inline-block;
}

.store-card-dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  overflow: hidden;
  border-radius: 3px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* top: 0; */
  left: auto;
  right: 0;
}

.store-card-dropdown-content a {
  color: #7b838a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
  /* text-align: right; */
}

.store-card-dropdown-content a:hover {
  background-color: #dddddd3d;
}

.store-card-dropdown:hover .store-card-dropdown-content {
  display: block;
}


/* .btn:hover, .dropdown:hover .btn {
  background-color: #0b7dda;
} */

/*-------------------------------------------
  Badges Status
-------------------------------------------*/

.badges-tag {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  /* --bs-badge-font-weight: 700; */
  /* --bs-badge-color: #fff; */
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  /* font-weight: var(--bs-badge-font-weight); */
  line-height: 1;
  /* color: var(--bs-badge-color); */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
  border: 1px solid #f1f1f1;
}


/*---------------------------------------
  Header              
-----------------------------------------*/

.hidden {
  display: none !important;
}

.notify-panel {
  /* display: none !important; */
  /* position: fixed; */
  /* top: 40%; */
  /* right: 10px; */
  width: 50%;
  /* z-index: 80; */
  /* box-shadow: 0px -4px 7px rgb(113 113 113 / 10%); */
  /* border-radius: 8px; */
  /* background-color: #ffffffe3; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 10px 0; */
}

.notify-item {
  position: relative;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid #f4f4f4;
}

.notify-count {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  background-color: #ff4d4f;
  color: white;
  border-radius: 50%;
  margin-bottom: 4px;
}

.notify-icon-wrapper {
  display: flex;
  justify-content: center;
}

.notify-icon-button {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.notify-icon-button:hover {
  color: #f18b20;
}

.navbar-news {
  position: relative;
  top: 0;
  background-color: #ff98000d;
  border-top: 1px solid #eaeaea;
  /* padding-top: 8px; */
  padding: 3px 0px;
}

/*---------------------------------------
  MODAL              
-----------------------------------------*/

.store-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

.store-modal-content {
  position: relative;
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 480px;
  min-width: 300px !important;
  animation: fadeIn 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: hidden;
}

.store-modal-title {
  height: 50px;
  display: block;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.store-close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #888;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}

.store-close-modal:hover {
  color: #ff5f5f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.tab-navigation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-button {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-button.active {
  font-weight: bold;
  border-bottom: 2px solid #ff9800;
  color: #ff9800;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.form-space-y>div {
  margin-bottom: 15px;
}

.form-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #df8601;
}

.space-login-social {
  position: relative;
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  color: #666;
}

.space-login-social::before,
.space-login-social::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  background-color: #ccc;
}

.space-login-social::before {
  left: 0;
  transform: translateY(-50%);
}

.space-login-social::after {
  right: 0;
  transform: translateY(-50%);
}

.btn-login-social {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.box-login-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.auth-remember {
  display: flex;
  font-size: 14px;
  margin-top: 20px;
  color: #444;
  justify-content: space-between;
  align-items: center;
}

.auth-remember a {
  text-decoration: none;
  color: #0d6efd;
}

.auth-policy {
  font-size: 14px;
  margin-top: 20px;
  color: #444;
}

.auth-policy a {
  text-decoration: none;
  color: #0d6efd;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-group input[readonly],
.form-group textarea[readonly],
.form-group select[readonly] {
  background-color: #e9ecef;
  pointer-events: none;
  touch-action: none;
}

.form-label {
  display: block;
  color: #374151;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-sizing: border-box;
}


.form-input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px rgb(255 217 161);
}

textarea.form-input {
  resize: vertical;
}


.toggle-btn {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #6b7280;
  display: flex;
  align-items: center;
  padding: 0;
}

.toggle-btn:hover {
  color: #4b5563;
}

@media (min-width: 768px) {

  /* PASSWORD RULES */
  #pwdRules {
    font-size: 14px;
    margin-top: 1rem;
    color: #4b5563;
  }

  #pwdRules ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  #pwdRules li {
    display: flex;
    align-items: center;
    width: 13rem;
    font-size: 0.8rem;
  }

}

@media (max-width: 768px) {

  /* PASSWORD RULES */
  #pwdRules {
    font-size: 14px;
    margin-top: 1rem;
    color: #4b5563;
  }

  #pwdRules ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
  }


  #pwdRules li {
    display: flex;
    align-items: baseline;
    width: 9rem;
    font-size: 0.7rem;
  }

}


#pwdRules li i {
  margin-right: 0.5rem;
  width: 1rem;
  text-align: center;
}

.rule-pass i::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.rule-fail i::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.rule-pass {
  color: #16a34a;
}

.rule-fail {
  color: #ef4444;
}

.message {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.message.success {
  color: #16a34a;
}

.message.error {
  color: #ef4444;
}

body.modal-open {
  overflow: hidden;
}

/* ================================
    MOBILE RESPONSIVE
================================= */
@media (max-width: 768px) {
  .store-modal-content {
    width: 90%;
    max-height: 95vh;
    height: auto;
    padding: 20px 15px;
    border-radius: 10px;
    margin: auto;
    overflow-y: auto;
  }

  .tab-button {
    font-size: 14px;
    padding: 10px;
  }

  .form-button {
    font-size: 14px;
    padding: 10px;
  }

  .form-label {
    font-size: 14px;
  }

  .form-input {
    font-size: 14px;
    padding: 0.3rem 1rem;
  }

  .box-login-social svg {
    width: 40px;
    height: 40px;
  }

  .auth-policy {
    font-size: 12px;
  }

  #pwdRules {
    font-size: 13px;
  }
}

/*---------------------------------------
  NavStore1              
-----------------------------------------*/
.header-store1 {
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.nav-store1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.nav-store1-box-logo {
  width: 24%;
  max-width: 156px;
}

.nav-store1-box-logo img {
  width: 70%;
  height: auto;
}

.nav-store1-box-search {
  width: 45%;
}

.nav-store1-box-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 218px;
  justify-content: flex-end;
}

.nav-store1-btn {
  background: none;
  border: none;
}

.nav-store1-btn {
  border: 1px solid #ff9800;
  color: #ff9800;
  border-radius: 0.25rem;
  font-size: 14px;
  padding: 4px 15px;
}

.nav-store1-btn:hover {
  background: #ff9800;
  color: #ffffff;
}


.input-search-store1 {
  position: relative;
}

.input-search-store1 input {
  width: 100%;
  padding: 0.5rem 3rem 0.3rem 2.5rem;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  font-size: 0.85rem;
  box-sizing: border-box;
}

.input-search-store1 input:focus {
  border-color: #ff9800;
  box-shadow: 0 0 11px 3px #ff980030;
  outline: none;
}

.input-search-store1 .icon-left {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  font-size: 1rem;
}

.input-search-store1 .btn-inside {
  position: absolute;
  right: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-search-store1 .btn-inside:hover {
  background-color: #fd7349;
}

#linkContainer {
  display: flex;
  flex-wrap: wrap;
}


/*---------------------------------------
  Dropdowns              
-----------------------------------------*/

.toggle-wrapper-store1 {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  white-space: nowrap;
}

.toggle-btn-store1 {
  cursor: pointer;
}

.toggle-box-store1 {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 90;

  padding: 10px;
  border: 1px solid #eaeaea;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  width: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  /* ซ่อนเริ่มต้น */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.3s ease, left 0.2s ease, right 0.2s ease, visibility 0.3s ease;
}

.toggle-box-store1.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.no-toggle-store1 {
  cursor: default;
  display: inline-block;
}

.gallery-layout-store1 {
  display: grid;
  gap: 1rem;
}

.gallery-layout-store1.layout-1 {
  grid-template-columns: 1fr;
}

.gallery-layout-store1.layout-2 {
  grid-template-columns: 1fr;
}

.gallery-layout-store1.layout-3 {
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr;
}

.gallery-layout-store1.layout-4 {
  grid-template-columns: repeat(2, 1fr);
}

/* Layout สำหรับ "image mode" */
.gallery-layout-store1.image-mode {
  grid-template-columns: repeat(3, 1fr);
}

/* Responsive */
@media (max-width: 800px) {

  .gallery-layout-store1.layout-3 {
    grid-template-columns: 1fr;
  }

  .gallery-layout-store1.layout-4 {
    grid-template-columns: 1fr;
  }

  .gallery-layout-store1.image-mode {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section-store1 {
  min-height: 180px;
}

.section-store1 p {
  word-wrap: break-word;
  white-space: normal;
}

.section-store1 h4 {
  margin-top: 0;
  font-size: 16px;
  color: #333;
}

.section-gallery-store1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 8px;
}

.section-gallery-store1 img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 3px;
  border: 1px solid #eaeaeacf;
}

.a-link-store1 {
  text-decoration: none !important;
  padding: 6px 12px;
  display: inline-block;
  margin-bottom: 4px;
  border-radius: 4px;
  color: #555;
  transition: color 0.3s ease;
}

.a-link-store1:hover {
  color: #ff7800;
}

.submenu-store1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu-store1 li {
  margin-bottom: 8px;
}

.sub-a-link-store1 {
  text-decoration: none;
  color: #0077cc;
  font-size: 14px;
}



/*---------------------------------------
  Sidenav              
-----------------------------------------*/

.login-box-store1 {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 1.5rem;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.avatar-store1 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.login-box-store1 p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.closebtn-store1 {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  color: #999;
  text-decoration: none;
  transition: color 0.3s ease;
}

.closebtn-store1:hover {
  color: #333;
}

#sidenav-store1 {
  width: 370px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background: #f8f8f7;
  z-index: 1000;
  overflow-x: hidden;
  border-left: 1px solid #eaeaea;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

#sidenav-store1.open {
  transform: translateX(0);
}

/*---------------------------------------
  NavStore2              
-----------------------------------------*/
.header-store2 {
  min-width: 375px !important;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.nav-store2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.nav-store2-box-logo {
  width: 24%;
  max-width: 156px;
}

.nav-store2-box-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.nav-store2-box-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-store2-btn {
  background: none;
  border: none;
}

.input-search-store2 {
  position: relative;
}

.input-search-store2 input {
  width: 100%;
  padding: 0.5rem 3rem 0.3rem 2.5rem;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  font-size: 0.85rem;
  box-sizing: border-box;
}

.input-search-store2 input:focus {
  border-color: #ff9800;
  box-shadow: 0 0 11px 3px #ff980030;
  outline: none;
}

.input-search-store2 .icon-left {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  font-size: 1rem;
}

.input-search-store2 .btn-inside {
  position: absolute;
  right: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-search-store2 .btn-inside:hover {
  background-color: #fd7349;
}

#menu1-open-store1 {
  color: #888;
  font-size: 24px;
  padding: 4px 15px;
}

#menu1-open-store1:hover {
  color: #ff6c28;
}

#menu-open-store2 {
  color: #888;
}

#menu-open-store2:hover {
  color: #ff6c28;
}

#menu-close-store2 {
  color: #888;
}

#menu-close-store2:hover {
  color: #ff6c28;
}

/*---------------------------------------
  Sidenav              
-----------------------------------------*/

.login-box-store2 {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 1.5rem;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.avatar-store2 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.login-box-store2 p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.closebtn-store2 {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  color: #999;
  text-decoration: none;
  transition: color 0.3s ease;
}

.closebtn-store2:hover {
  color: #333;
}

#sidenav-store2 {
  width: 268px;
  padding-top: 90px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #f8f8f7;
  z-index: 1001;
  overflow-x: hidden;
  border-right: 1px solid #eaeaea;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

#sidenav-store2.open {
  transform: translateX(0);
}

#overlay-store2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#overlay-store2.active {
  opacity: 1;
  pointer-events: auto;
}

#menuListContainer {
  list-style: none;
  padding: 0;
  margin-left: 15px;
  margin-top: 15px;
}

.menu-list2 {
  list-style: none;
  padding: 0;
  margin: 0px 0px 10px 0px;
  font-size: 16px;
}


.menu-list2 li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px 5px 25px;
  border-radius: 6px;
  color: #333;
}


/*---------------------------------------
  Lang              
-----------------------------------------*/

/* #langButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  align-items: center;
  gap: 5px;
}

#langButtons button {
  border: none;
  background: none;
  font-size: 14px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

#langButtons button:hover {
  color: #ff7800;
  border-bottom: 2px solid #ff7800;
}

#langButtons button.active {
  color: #ff7800;
  border-bottom: 2px solid #ff7800;
} */

/* Navbar Container */
.navbar-service {
  /* background-color: #f8f9fa; */
  border-bottom: 1px solid #dddddd33;
  padding: 8px 0;
  font-size: 12px;
}

/* Wrapper */
.navbar-service-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-service-link-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link-group-left {
  display: flex;
  flex-wrap: wrap;
}

.nav-link-group-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-service-link {
  color: #333;
  text-decoration: none;
}


/* Language Buttons */
.lang-buttons-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-lang {
  border: none;
  /* padding: 5px 12px; */
  border-radius: 4px;
  /* background-color: #e9ecef; */
  background: none;
  color: #333;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-lang.active {
  background-color: #FF9800;
  color: #fff;
}


.btn-lang:hover {
  background-color: #d6d8db;
}

/*---------------------------------------
  Section              
-----------------------------------------*/
.section-space {
  margin-top: 20px;
}

.section-space-search {
  margin-top: 20px;
  margin-bottom: 50px;
}


/*---------------------------------------
  Carousel              
-----------------------------------------*/

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  pointer-events: none;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 10;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  pointer-events: auto;
  background: #f8f8f7 !important;
  border: none !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px !important;
  line-height: 30px !important;
  text-align: center;
  cursor: pointer !important;
  box-shadow: 0 2px 8px rgb(161 161 161 / 50%);
  transition: background-color 0.3s ease;
  user-select: none !important;
}

/*---------------------------------------
  Card              
-----------------------------------------*/

.crs-sm-card {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border: 1px solid #eaeaea;
  background: #fff;
  border-radius: 3rem;
  padding: 0.3rem 0.5rem;
  text-align: center;
  cursor: pointer;
  width: auto;
}

.crs-sm-card-image {
  border-radius: 50%;
  object-fit: cover;
  width: 50px !important;
  height: 50px !important;
  display: block;
  margin: 0 auto;
}

/*---------------------------------------
  Card              
-----------------------------------------*/
/* .cb-sm-grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
}

.cb-sm-grid-item {
  text-align: center;
  display: flex;              
  align-items: center;        
  justify-content: center;    
  background: #fff;           
  border-radius: 6px;         
  overflow: hidden;
}

.cb-sm-grid-image {
  max-width: 80%;  
  max-height: 80%; 
  object-fit: contain; 
} */

.cb-sm-grid {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border: 1px solid #eaeaea;
  background: #fff;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  text-align: center;
  cursor: pointer;
  width: auto;
}

.cb-sm-grid-image {
  object-fit: contain;
  width: 90px !important;
  height: 90px !important;
  display: block;
  margin: 0 auto;
}

.cpd-md-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(204px, 1fr));
  gap: 0.7rem;
}

.cpd-md-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cpd-md-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #ff9902;
}

.cpd-md-card-row {
  position: relative;
}

.cpd-md-card-discount {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #ff3b30;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.cpd-md-card-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.cpd-md-card-body {
  padding: .75rem;
  flex: 1;
}

.cpd-md-card-category {
  font-size: 12px;
  color: #666;
}

.cpd-md-card-name {
  display: block;
  margin-top: .25rem;
  font-size: 15px;
}

.cpd-md-card-detail {
  font-size: 13px;
  color: #444;
  margin: .5rem 0;
}

.cpd-md-card-badges {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

.badges-tag {
  background: #eee;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 4px;
}

.cpd-md-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .75rem;
  border-top: 1px solid #eee;
}

.cpd-md-card-price {
  color: #ff9902;
  font-weight: bold;
  font-size: 1.1rem;
}

.cpd-md-card-footer-action button {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 1rem;
}

.cpd-md-card-footer-action button:hover {
  color: #ff9902;
}

.cpd-md-loadmore {
  display: block;
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #ff9800;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #ff9e00;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.cpd-md-loadmore:hover {
  background: #ff9800;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.cpd-md-loadmore:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.cpd-md-loadmore:disabled {
  background: #f8f8f8;
  color: #aaa;
  border-color: #ddd;
  cursor: not-allowed;
  box-shadow: none;
}



/*---------------------------------------
  Card              
-----------------------------------------*/

.store-card {
  /* cursor: pointer; */
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  /* max-height: 400px; */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 1rem auto;
}

.store-card-row {
  display: flex;
  flex-direction: column;
}

.store-card-header {
  padding: 12px 16px;
  background-color: #ffffff;
  /* font-weight: bold;
  font-size: 1.2rem;
  color: #333; */
  border-bottom: 1px solid #eee;
}

.box-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-card-header strong {
  display: block;
}

.box-card-header span {
  display: block;
  font-size: 0.8rem;
}

.store-card-logo {
  width: 40px !important;
  /* height: 30px !important; */
  object-fit: contain;
}

.store-card-image {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.store-card-body {
  padding: 16px;
  color: #444;
  font-size: 1rem;
  flex-grow: 1;
  line-height: 1.4;
}

.store-list-group {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eee;
}

.store-list-item {
  padding: 10px 16px;
  border-bottom: 1px solid #eee;
  color: #555;
  cursor: default;
  min-height: 70px;
  max-height: 70px;
}

.store-list-item:last-child {
  border-bottom: none;
}

.store-card-footer {
  padding: 12px 16px;
  background-color: #ffffff;
  font-size: 0.9rem;
  color: #777;
  text-align: right;
  border-top: 1px solid #eee;
}

.box-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-card-footer-action {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* ----------------------------------------------------
  Introduce
---------------------------------------------------- */
.intd-main-container {
  width: 100%;
  background-color: white;
  border-radius: 0.3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 0.7rem;
}

@media (min-width: 992px) {
  .intd-main-container {
    flex-direction: row;
  }
}

.intd-left-column {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .intd-left-column {
    width: 60%;
  }
}

.intd-slideshow-wrapper {
  position: relative;
  width: 100%;
  /* padding: 1rem; */
}

.intd-carousel-container {
  position: relative;
  width: 100%;
  height: 310px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.intd-carousel-item {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  color: #212529;
}

.intd-carousel-item.hidden {
  opacity: 0;
  pointer-events: none;
}

.intd-carousel-item.active {
  opacity: 1;
  position: relative;
  pointer-events: auto;
}

.intd-carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intd-nav-button {
  position: absolute;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.75rem;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.intd-nav-button:hover {
  background-color: white;
}

.intd-prev-btn {
  left: 1.5rem;
}

.intd-next-btn {
  right: 1.5rem;
}

.intd-dots-container {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

.intd-dots-container .intd-carousel-dot {
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

.intd-dots-container .intd-carousel-dot.active {
  background-color: white;
}

.intd-dots-container .intd-carousel-dot:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.intd-option-buttons-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: auto;
  padding: 1rem;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.intd-option-button {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #eaeaea;
  color: #6c757d;
  border-radius: 9999px;
  padding: 0.25rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.intd-option-button:hover {
  background-color: #ff9800;
  color: white;
}

.intd-right-column {
  width: 100%;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .intd-right-column {
    width: 40%;
  }
}

.intd-product-card {
  width: 100%;
  height: 100%;
  max-height: 310px;
  min-height: 310px;
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: 1px solid #dee2e6;
}

.intd-product-card .intd-card-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #212529;
  margin-bottom: 0.5rem;
}

.intd-product-card .intd-card-subtitle {
  color: #6c757d;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.intd-product-card img {
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 100px;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  object-fit: cover;
}

.intd-product-card .intd-card-text {
  color: #6c757d;
  margin-bottom: 1rem;
}

.intd-price-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.intd-current-price {
  font-size: 2rem;
  font-weight: 700;
  color: #dc3545;
}

.intd-old-price {
  font-size: 1.25rem;
  color: #6c757d;
  text-decoration: line-through;
  margin-left: 0.5rem;
}

.intd-discount-text {
  color: #198754;
  font-weight: 600;
  margin-left: 0.5rem;
}

.intd-page-btn {
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background: none;
}

/*---------------------------------------
  Banner              
-----------------------------------------*/

.banner {
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
  max-height: 190px;
  min-height: 135px;
  object-fit: fill;
  filter: blur(4px);
}

.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 1rem;
  box-sizing: border-box;
}

.banner-content {
  margin: 0 0 0 0;
  max-width: 70%;
  text-align: right;
}

.banner-content h1 {
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #f18b20;
  text-shadow: 1px 3px 1px #555;
}

.banner-content p {
  margin: 0 0 1rem;
  font-size: 0.9rem;
  line-height: 1.4;
}

.banner-button {
  text-decoration: none;
  padding: 0.5rem 0.3rem;
  font-size: 1rem;
  background-color: #f0f0f024;
  color: white;
  border: 1px solid #f0f0f0;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.banner-button:hover {
  background-color: #cc5200;
}

/* ----------------------------------------------------
  Cookie
---------------------------------------------------- */

.policy-cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 767px;
  width: 100%;
  background-color: white;
  padding: 15px;
  z-index: 999;
  border-radius: 3px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cookie-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  padding: 2rem 1rem;
  color: #333;
}

.cookie-content>h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #444;
}

.cookie-section {
  width: 100%;
  margin-bottom: 1.8rem;
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.cookie-section a {
  text-decoration: none;
}

.cookie-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.cookie-title {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  color: #444;
}

.cookie-desc {
  font-size: 14px;
  line-height: 1.6;
  margin: 0.5rem 0 0;
  color: #4a4a4a;
}

.cookie-actions {
  margin-top: 1rem;
  width: 100%;
  text-align: right;
}

.cookie-btn {
  margin: 5px 0;
  padding: 8px 16px;
  border: none;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.cookie-btn:hover {
  background-color: #df8601;
  color: white;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch input:checked+.slider {
  background-color: #4caf50;
}

.toggle-switch input:checked+.slider:before {
  transform: translateX(22px);
}

.toggle-switch input:disabled+.slider {
  opacity: 0.5;
  cursor: not-allowed;
}

#acceptCookies {
  font-size: 14px;
  border: none;
  color: #ffffff;
  background-color: #f28b20;
  border-radius: 3px;
}

#rejectCookies {
  font-size: 14px;
  /* border: none; */
  border: 1px solid #ff9800;
  color: #ff9800;
  background-color: #ffffff;
  border-radius: 3px;
}

#settingsCookies {
  font-size: 14px;
  border: none;
  color: #444;
  background-color: #ffffff;
  border-radius: 3px;
}

/* ----------------------------------------------------
  Footer
---------------------------------------------------- */

.site-footer {
  background: linear-gradient(135deg, #f5f5f5, #ffffff);
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid #eaeaea;
  margin-top: 20px;
}

.footer-nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #555;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-top: 0.5rem;
}

.footer-social a {
  margin-right: 0.75rem;
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

.footer-social a:hover {
  color: #ff7b34;
}

/* ----------------------------------------------------
  @Media
---------------------------------------------------- */

@media (max-width: 575.98px) {

  /* XS */
  .header-store1 {
    display: none;
  }

  .header-store2 {
    display: block;
  }

  #sidenav-store1 {
    width: 268px;
    position: fixed;
    z-index: 1011;
  }

  #sidenav-store2 {
    width: 223px;
  }

  .header-store2 {
    position: relative;
    z-index: 1010;
  }

  .banner-content {
    max-width: 100%;
  }

  .banner img {
    min-height: 228px;
  }

  .store-card {
    width: 100%;
    /* height: 100%; */
    height: auto;
    min-width: 285px;
    max-width: 285px;
    /* max-height: 400px; */
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  /* SM */
  .header-store1 {
    display: block;
  }

  .header-store2 {
    display: none;
  }

  .banner-content {
    max-width: 100%;
  }

  .banner img {
    min-height: 195px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  /* MD */
  .header-store1 {
    display: block;
  }

  .header-store2 {
    display: none;
  }

  .banner-content {
    max-width: 80%;
  }

  .banner img {
    min-height: 195px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  /* LG */
  .header-store1 {
    display: block;
  }

  .header-store2 {
    display: none;
  }

  .banner-content {
    max-width: 58%;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {

  /* XL */
  .header-store1 {
    display: block;
  }

  .header-store2 {
    display: none;
  }

  .banner-content {
    max-width: 47%;
  }
}

@media (min-width: 1400px) {
  /* XXL */

  .header-store1 {
    display: block;
  }

  .header-store2 {
    display: none;
  }

  .banner-content {
    max-width: 47%;
  }
}

/* ----------------------------------------------------
  @Media Close
---------------------------------------------------- */

.carousel-wrapper {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.carousel-left {
  flex: 0 0 300px;
  max-width: 300px;
}

.carousel-left img {
  width: 100%;
  height: auto;
  max-height: 415px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  display: block;
}

.carousel-right {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  padding-bottom: 10px;
  box-sizing: border-box;
}


.carousel-right .custom-card {
  flex: 0 0 250px;   
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* margin-right: 10px; */
  overflow: hidden;
  border: 1px solid #ddd;
  background: #fff;
}

.carousel-right .custom-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #ff9902;
}

.carousel-right .custom-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel-right .custom-card-body {
  padding: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-right .custom-card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.carousel-right .custom-card-text {
  font-size: 0.875rem;
  color: #555;
  margin-bottom: 8px;
  flex: 1;
}

.carousel-right .custom-card-btn {
  font-size: 0.875rem;
  padding: 4px 8px;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .carousel-wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .carousel-left,
  .carousel-right {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .carousel-left img {
    height: auto;
    max-height: none;
  }


}


.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px 0;
    padding: 0 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    transform: translateY(-50%);
    z-index: 1;
}

.timeline-step {
    position: relative;
    text-align: center;
    z-index: 2;
    flex: 1;
    cursor: pointer;
}

.timeline-step .circle {
    width: 30px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 50%;
    margin: 0 auto 10px;
    position: relative;
    top: 0.8rem;
    transition: background 0.3s;
}

.timeline-step .circle.active {
    background-color: #FF9800;
}

.timeline-step.completed .circle {
    background-color: #22c55e;
}

.timeline-step p {
    margin: 0;
    font-size: 14px;
}

.timeline-step::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50%;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    z-index: -1;
    transform: translateY(-50%);
    transition: background 0.3s;
}

.timeline-step.completed::after {
    background-color: #22c55e;
}

.timeline-step:last-child::after {
    content: none;
}




