.content-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.box-news {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}


.box-image {
    flex: 1; 
    width: 100%;
    height: 100%;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.box-image img:hover {
    transform: scale(1.1);
}

.box-content {
    flex: 1; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-content p,
.box-content h6,
.box-content ul {
    margin: 0;
}

.box-news ul {
    padding-left: 20px;
}

.text-news{
    text-decoration: none;
    color: #555;
}

@media (max-width: 1024px) {
    .content-news {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .content-news {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .content-news {
        grid-template-columns: 1fr;
    }
}
