
body {
    font-family: "Kanit", "Roboto", sans-serif;
    background-color: #f5f5f7;
    height: 100vh;
    color: #555555;
}

body.night-mode {
    background-color: #282828;
    /* color: white; */
}

body.night-mode .head-store {
    background-color: #3c3c3c;
    box-shadow: 0px 2px 4px #1f1f1f;
}

body.night-mode .form-element {
    background: #343a40;
    color: white;
}

body.night-mode .sidebar {
    background-color: #343a40;
    box-shadow: 2px 2px 4px 0px #1f1f1f;
}

body.night-mode .sidebar a{
    color: white;
}

body.night-mode .sub-sidebar {
    background-color: #343a40;
}

body.night-mode .card-detail {
    background-color: #3c3c3c;
    box-shadow: 2px 2px 4px 0px #1f1f1f;
}

body.night-mode table th, 
body.night-mode table td {
    background-color: #3c3c3c;
    color: white;
}

body.night-mode table td div {
    color: white;
}

body.night-mode table th div {
    color: white;
}

body.night-mode .modal-header {
    background-color: #282828 !important;
    border: none !important;
    color: white !important;
}

body.night-mode .modal-body {
    background-color: #3c3c3c !important;
    color: white !important;
    border: none !important;
}

body.night-mode .modal-footer {
    background-color: #282828 !important;
    border: none !important;
}

body.night-mode .modal-content{
    border: none !important;
}

body.night-mode .form-control{
    border: none !important;
    background-color: #282828 !important;
    color: white !important;
}


#background-blur.tab-open {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
    transition: background-color 0.3s, backdrop-filter 0.3s; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 9;
}

.head-store {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #d1d1d0;
    position: relative;
    z-index: 99;
}

.display-in-head {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-between;
    align-items: center;
}

.box-info {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 10px;
    width: 100%;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 4px;
    background: white;
    margin: 10px 0px;
    box-shadow: 2px 2px 4px #cfbca8;
}

.box-info:hover{
    box-shadow: 2px 3px 5px #ff8c0a;
}

.form-element {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    flex: 1 1 auto;
    border: none;
}

.form-element:focus {
    /* border-color: #007bff; */
    /* box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); */
    border-bottom: 2px solid #ff8c0a;
    border-radius: unset;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-warning i {
    margin-right: 5px;
}

.display-info {
    margin: 0 10px;
    font-size: 20px;
    color: #FF8C0A;
}


.row-tab {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 99;
    /* max-width: 960px; */
    width: 100%;
}



.tab {
    display: none;
    flex: 1 1 30%;
    border: 1px solid #ccc;
    background-color: #ffffff;
    height: 310px;
    overflow-y: auto;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

/* .tab button:hover {
    background-color: #ddd;
} */

.tab button.active {
    background-color: #ff8c0a;
}

.tabcontent {
    display: none; /* Hidden by default */
    flex: 1 1 70%;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border-left: none;
    height: 310px;
    background-color: white;
    overflow-x: auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .tab, .tabcontent {
        flex: 1 1 100%;
        height: auto;
    }
}

.toggle-button{
    font-size: 20px;
}


.toggle-button:hover {
    color: #ff8c0a;
}

@media screen and (max-width: 768px) {
    .toggle-button {
        display: block;
        font-size: 24px;
        cursor: pointer;
        margin: 10px;
    }
}

.list-group-item:hover{
    color: #ff8c0a;
}

.footer {
    position: relative;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    background-color: #ffedd1;
    box-shadow: 0px -1px 4px #f28c206b;
}

.card-box-hot{
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 3px 7px #c0c0c03d;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-box-hot:hover{
    transform: translateY(-2px);
    box-shadow: 1px 3px 7px #c3c3c3;
}

/* .card-box-hot:hover img{
    padding: 10px;
} */


/* Container for labels positioned absolutely */
.label-card-box {
    position: absolute;
    top: -4px;
    left: 0px;
    right: -5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align labels to the top of the card */
    z-index: 4;
}

/* Style for rating label */
.label-rating {
    padding: 5px;
}

/* Style for discount label */
.label-discount {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 3px 3px 0px #878686;
}

.btn-showProduct{
    border-radius: 50px !important;
    color: #ffffff !important;
    background-color: #ff8c0a !important;
    border: none;
}

.MultiCarousel-btn{
    border: none;
    border-radius: 6px;
    background-color: #ff8c0a;
    color: white;
}

.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative; 
}

.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all;
    float: left; 
}

.MultiCarousel .MultiCarousel-inner .item { 
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:10px; 
    margin:10px; 
    background:#fefefe;
    color:#666;
    border-radius: 6px;
    box-shadow: 1px 3px 7px #c0c0c03d;
    transition: transform 0.3s, box-shadow 0.3s;
}

.MultiCarousel .MultiCarousel-inner .item > div:hover{
    transform: translateY(-2px);
    box-shadow: 1px 3px 7px #c3c3c3;
}


.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; 
    border-radius:50%;
    top:calc(50% - 20px); 
}

.MultiCarousel .leftLst { 
    left:0; 
}

.MultiCarousel .rightLst { 
    right:0; 
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
    background:#ccc; 
}


.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #ff8c0a;
    border-color: #ff8c0a;
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: #757b82;
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.page-link:hover {
    z-index: 2;
    color: #ff8c0a;
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color);
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ff8c0a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
to {
    transform: rotate(360deg);
}
}

.hidden {
    display: none;
}



.display-link {
    text-decoration: none; 
    color: #FF8C0A;
}

.display-link .display-info {
    color: inherit; 
}

.cart-count{
    position: absolute;
    left: 27px;
    top: -17px;
    background-color: red;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    color: white;
}

/* cart detail */
.cardlist{
    /* border-bottom: 1px solid #f0f0f0; */
    /* border: 1px solid #f0f0f0; */
    margin: 5px 0px;
    border-radius: 4px;
    box-shadow: 0px 3px 4px #cccccc36;
    background-color: #f9f9f873;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;
}

.cardlist:hover{
    transform: translateY(-2px);
    box-shadow: 0px 2px 7px #c3c3c370;
}

.cardlist:last-child{
    border: 0;
}

.cartproname{
    font-size: 15px;
    color: #212529;
    line-height: 1;
    display: inline;
}
.cartproname:hover{
    color: #c16302;
    text-decoration: none;
}



.prostatus .del-time {
    font-size: 12px;
    color: #757575;
    margin-right: 10px;
}
.prostatus .del-time > span {
    font-weight: 600;
    color: #555;
}

.proviewcard .card-footer{
    text-align: end;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 10px 0px;
    padding: 8px 15px;
}

.card .card-footer{
    background-color: #fff;
}

.card-footer-total{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
}
.card-footer-total:last-of-type {
    background-color: #ff8c0a;
    
}


@supports (box-shadow: 2px 2px 2px black){
    .cart-panel-foo-fix{
        position: sticky;
        bottom: 0;
        z-index: 4;
    }
}


.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; 
    } 
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; 
}


.tab-content {
    overflow: hidden; 
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; 
}

.card-detail {
    /* margin-top: 5%; */
    margin-bottom: 5%;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 3em;
    line-height: 1.5em;
    box-shadow: 1px 3px 7px #c0c0c03d;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-detail:hover {
    transform: translateY(-2px);
    box-shadow: 1px 3px 7px #c3c3c3;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; 
    } 
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; 
}

.product-title, .price, .sizes, .colors, .quantitys {
    text-transform: UPPERCASE;
    font-weight: bold; 
}

.checked, .price span {
    color: #ff9f1a; 
}

.product-title,
.rating,
.product-description,
.price,
.sizes,
.quantitys {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 20px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.quantitys{
    display: flex;
    align-items: center;
}

.quantity:first-of-type{
    margin-left: 20px;
}



.add-to-cart,
.like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    transition: background 0.3s ease;
}

.add-to-cart:hover,
.like:hover {
    background: #b36800;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}



.size.active {
    color: #ff9f1a;
}

.size:hover {
    color: #ff9f1a;
}

.color.active {
    box-shadow: 2px 2px 4px #ff9f1a;
}

.color:hover {
    box-shadow: 2px 2px 4px #ff9f1a;
}

.save-btn{
    border: none;
    background: none;
    color: #4CAF50;
}

.edit-btn{
    border: none;
    background: none;
    color: #FFC107
}

.remove-btn{
    border: none;
    background: none;
    color: #f44336;
}

.print-btn{
    border: none;
    background: none;
    color: #2196f3;
}

.print-circle:hover{
    /* border: 1px solid #ffffff;
    border-radius: 16px;
    box-shadow: 1px 1px 2px #4caf50; */
    /* margin: 1px 5px; */
    color: #2196f3;
    font-size: 24px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.save-circle:hover{
    /* border: 1px solid #ffffff;
    border-radius: 16px;
    box-shadow: 1px 1px 2px #4caf50; */
    /* margin: 1px 5px; */
    color: #4CAF50;
    font-size: 24px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.edit-circle:hover{
    /* border: 1px solid #ffffff;
    border-radius: 16px;
    box-shadow: 1px 1px 2px #ffc107; */
    /* margin: 1px 5px; */
    color: #FFC107;
    font-size: 24px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.remove-circle:hover{
    /* border: 1px solid #ffffff; */
    /* border-radius: 16px; */
    /* box-shadow: 1px 1px 2px red; */
    /* margin: 1px 5px; */
    color: #f44336;
    font-size: 24px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.text-nowrap > span{
    color: #ff9f1a;
    font-weight: 700;
}

@media (max-width: 576px) {
    .text-nowrap {
        overflow: hidden;
        text-overflow: clip;
        
        /* white-space: nowrap; */
    }
}

.box-pay-detail{
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 7px #e2e2e354;
    transition: transform 0.3s, box-shadow 0.3s;
}

.box-pay-detail:hover{
    transform: translateY(-2px);
    box-shadow: 1px 3px 7px #c3c3c3;
}

.box-pay-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.step-wizard {
    display: table;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.step-wizard-row {
    display: table-row;
}

.step-wizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    padding: 10px;
}

.step-wizard-step > a{
    text-decoration: none;
    color: #555;
}

.step-wizard-step::before, .step-wizard-step::after {
    content: '';
    position: absolute;
    top: 27%;
    width: 100%;
    height: 3px;
    background-color: #e5e5e5;
    z-index: -1;
}

.step-wizard-step::before {
    left: 50%;
    transform: translateX(-50%);
}

.step-wizard-step::after {
    right: 50%;
    transform: translateX(50%);
}

.step-wizard-step:first-child::before {
    display: none;
}

.step-wizard-step:last-child::after {
    display: none;
}

.step-circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e5e5e5;
    margin: 0 auto 10px auto;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.active .step-circle {
    background-color: #1fd125;
}

.active p {
    font-weight: bold;
    color: #1fd125;
}

/* Basic styling for the sidebar */
.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    padding-top: 20px;
    box-shadow: 2px 2px 4px 0px #e8e8ea;
    overflow-y: auto;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #555;
    display: block;
    border-radius: 4px;
}

.sub-sidebar {
    padding-left: 15px;
    background-color: #e9e9e9;
    border-radius: 4px;
}

.sub-sidebar a {
    font-size: 14px;
    padding: 8px 15px;
}

.sidebar a:hover, .sub-sidebar a:hover {
    background-color: #FFC107;
}

.sidebar a.active {
    background-color: #FFC107;
}

.toggleSwitch span span {
    display: none;
    }
    
    @media only screen {
    .toggleSwitch {
        display: inline-block;
        height: 18px;
        position: relative;
        overflow: visible;
        padding: 0;
        /* margin-left: 50px; */
        cursor: pointer;
        width: 40px
    }
    .toggleSwitch * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .toggleSwitch label,
    .toggleSwitch > span {
        line-height: 20px;
        height: 20px;
        vertical-align: middle;
    }
    .toggleSwitch input:focus ~ a,
    .toggleSwitch input:focus + label {
        outline: none;
    }
    .toggleSwitch label {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%;
    }
    .toggleSwitch input {
        position: absolute;
        opacity: 0;
        z-index: 5;
    }
    .toggleSwitch > span {
        position: absolute;
        left: -50px;
        width: 100%;
        margin: 0;
        padding-right: 50px;
        text-align: left;
        white-space: nowrap;
    }
    .toggleSwitch > span span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 50px;
        text-align: left;
        font-size: 0.9em;
        width: 100%;
        left: 15%;
        top: -1px;
        opacity: 0;
    }
    .toggleSwitch a {
        position: absolute;
        right: 50%;
        z-index: 4;
        display: block;
        height: 100%;
        padding: 0;
        left: 2px;
        width: 18px;
        background-color: #fff;
        border: 1px solid #CCC;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .toggleSwitch > span span:first-of-type {
        color: #ccc;
        opacity: 1;
        left: 45%;
    }
    .toggleSwitch > span:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50px;
        top: -2px;
        background-color: #fafafa;
        border: 1px solid #ccc;
        border-radius: 30px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .toggleSwitch input:checked ~ a {
        border-color: #fff;
        left: 100%;
        margin-left: -8px;
    }
    .toggleSwitch input:checked ~ span:before {
        border-color: #4CAF50;
        box-shadow: inset 0 0 0 30px #4CAF50;
    }
    .toggleSwitch input:checked ~ span span:first-of-type {
        opacity: 0;
    }
    .toggleSwitch input:checked ~ span span:last-of-type {
        opacity: 1;
        color: #fff;
    }
    /* Switch Sizes */
    .toggleSwitch.large {
        width: 60px;
        height: 27px;
    }
    .toggleSwitch.large a {
        width: 27px;
    }
    .toggleSwitch.large > span {
        height: 29px;
        line-height: 28px;
    }
    .toggleSwitch.large input:checked ~ a {
        left: 41px;
    }
    .toggleSwitch.large > span span {
        font-size: 1.1em;
    }
    .toggleSwitch.large > span span:first-of-type {
        left: 50%;
    }
    .toggleSwitch.xlarge {
        width: 80px;
        height: 36px;
    }
    .toggleSwitch.xlarge a {
        width: 36px;
    }
    .toggleSwitch.xlarge > span {
        height: 38px;
        line-height: 37px;
    }
    .toggleSwitch.xlarge input:checked ~ a {
        left: 52px;
    }
    .toggleSwitch.xlarge > span span {
        font-size: 1.4em;
    }
    .toggleSwitch.xlarge > span span:first-of-type {
        left: 50%;
    }
    }

    th,
    td{
        color: #555 !important;
    }


    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal-close,
.modal-close-channel,
.modal-close-setup-menu,
.modal-close-setup-language,
.modal-close-setup-shipping
{
    color: #555;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus,
.modal-close-channel:hover,
.modal-close-channel:focus,
.modal-close-setup-menu:hover,
.modal-close-setup-menu:focus,
.modal-close-setup-language:hover,
.modal-close-setup-language:focus,
.modal-close-setup-shipping:hover,
.modal-close-setup-shipping:focus
{
    color: #e91e63;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fefefe;
    /* color: white; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.modal-body {padding: 2px 16px;}

.modal-body > div{
    margin: 10px;
}

.modal-body > div a{
    text-decoration: none;
    color: #555;
}

.modal-body > div a:hover{
    color: #ff9800;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;
    /* color: white; */
}

.select2-container {
    width: auto !important; /* ให้ขยายตามพื้นที่ที่มี */
    max-width: 1024px; /* กำหนดความกว้างสูงสุด */
    /* min-width: 150px;  */
    box-sizing: border-box; /* รวม padding และ border ในการคำนวณขนาด */
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #dee2e6 !important;
    border-radius: 4px;
    width: 100%; /* ให้กว้างเต็มภายใน container */
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 37px !important;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 35px !important;
    padding-left: 8px; /* เพิ่มระยะห่างซ้ายเล็กน้อย */
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

