/*---------------------------------------
    Section              
-----------------------------------------*/

.section-space-partner {
    margin-bottom: 50px;
}

/*---------------------------------------
    Partner              
-----------------------------------------*/
.partner-banner {
    position: relative;
    width: 100%;
}

.partner-background {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.partner-banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

@media (min-width: 640px) {
    .partner-banner-overlay {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.partner-logo-wrapper {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #ffffff;
    object-fit: contain;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 640px) {
    .partner-logo {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 768px) {
    .partner-logo {
        width: 120px;
        height: 120px;
    }
}

.partner-banner-text {
    flex: 1;
    color: white;
    padding-left: 0;
    text-align: center;
}

@media (min-width: 640px) {
    .partner-banner-text {
        text-align: left;
        padding-left: 20px;
    }
}

.partner-banner-text h1 {
    font-size: 22px;
    margin: 0;
}

.partner-banner-text p {
    margin-top: 8px;
    font-size: 14px;
}

@media (min-width: 640px) {
    .partner-banner-text h1 {
        font-size: 26px;
    }

    .partner-banner-text p {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .partner-banner-text h1 {
        font-size: 32px;
    }

    .partner-banner-text p {
        font-size: 18px;
    }
}

.partner-tab-wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
}

@media (min-width: 640px) {
    .partner-tab-wrapper {
        flex-direction: row;
    }
}

.partner-left-menu {
    width: 100%;
    background: #fff;
    padding: 16px;
    border-right: 1px solid #ddd;
}

@media (min-width: 640px) {
    .partner-left-menu {
        width: 25%;
    }
}

/* .partner-left-menu p {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
} */

/* .partner-left-menu a {
    display: block;
    color: #6D28D9;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
}

.partner-left-menu a:hover {
    color: #4C1D95;
} */

.partner-right-content {
    width: 100%;
}

@media (min-width: 640px) {
    .partner-right-content {
        width: 75%;
    }
}

.partner-tab-buttons {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.partner-tab-button {
    /* flex: 1; */
    padding: 12px 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    color: #444;
    cursor: pointer;
    border: none;
    transition: background 0.2s;
}

.partner-tab-button:hover {
    background: #f3f4f6;
}

.partner-tab-button.active {
    color: #f18b20;
    border-bottom: 2px solid #f18b20;
}

.partner-tab-content {
    display: none;
    padding: 24px;
}

.partner-tab-content.active {
    display: block;
}

.partner-tab-content h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 12px;
}

.partner-tab-content p {
    color: #555;
    line-height: 1.6;
    font-size: 15px;
}

/*---------------------------------------
    Partner Main
-----------------------------------------*/
.articles-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* default: 1 การ์ด */
    gap: 20px;
    /* padding: 20px; */
}

/* ≥ 600px: 2 การ์ด */
@media (min-width: 600px) {
    .articles-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ≥ 900px: 3 การ์ด */
@media (min-width: 900px) {
    .articles-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ≥ 1200px: 4 การ์ด */
@media (min-width: 1200px) {
    .articles-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}


.article-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* transition: transform 0.2s; */
}

.article-card:hover {
    /* transform: translateY(-5px); */
}

.article-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.article-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.article-title {
    font-size: 1rem;
    margin-bottom: 10px;
}


/*---------------------------------------
    Partner Contact
-----------------------------------------*/

/* .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.contact-list li {
    display: flex;
    align-items: flex-start;
    color: #4b5563;
    margin-bottom: 16px;
}

.contact-list li a {
    text-decoration: none;
}

.contact-list li:last-child {
    margin-bottom: 0;
}

.contact-list li i {
    color: #f88003;
    font-size: 20px;
    margin-right: 12px;
    margin-top: 4px;
    min-width: 20px;
}

.contact-list li:nth-child(1) i {
    margin-top: 4px;
}

.contact-list li span {
    flex: 1;
} */

.contact-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-social img {
    width: 34px;
    object-fit: contain;
}

.add-review {
    text-decoration: none;
}

/* ----------------------------------------------------
    Article Menu
---------------------------------------------------- */

.article-box-menu {
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    overflow: hidden;
}

.article-box-menu>li {
    position: relative;
}

.article-box-menu > li:first-child {
    background: #ddd;
}

.article-box-menu>li>a {
    display: block;
    color: #333;
    padding: 14px 20px;
    text-decoration: none;
    transition: background 0.3s;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-left: 20px;
    position: relative;
}

.submenu.open {
    display: block;
}

.submenu::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 1px;
    background-color: #eaeaea;
}

.submenu li {
    position: relative;
    padding-left: 25px;
}

.submenu li a {
    display: block;
    padding: 10px 10px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s;
}

.submenu li::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 18px;
    width: 15px;
    height: 1px;
    background-color: #eaeaea;
}

/* @media (max-width: 768px) {
    .article-box-menu {
        display: none;
    }
} */
